* {
	border: none;
	border-radius: 4;
	font-family: 'Iosevka Nerd Font', 'Material Design Icons';
	font-size: 18px;
	min-height: 0;
}

#waybar {
	border-radius: 0;
	background-color: #272727;
	transition-duration: .5s;
}

#workspaces button {
	padding: 0 12px;
	color: #ebdbb2;
}

#workspaces button:hover {
	background-color: #272727;
	color: #fb4934;
	border-bottom:4px solid #fb4934;
}

#workspaces button.focused {
	color: #ebdbb2;
	border-bottom:4px solid #ebdbb2;
}

#workspaces button.urgent {
	background-color: #fb4934;
	border-bottom:4px solid #fb4934;
	color: #272727;
}

#mode, #window {
	color: #d2d2d2;
}

#tray, #pulseaudio, #cpu, #network, #memory, #backlight, #battery, #clock, #temperature, #custom-power {
	padding: 0 12px;
	color: #272727;
}

#pulseaudio {
	margin: 5px 5px;
	background-color: #d3869b;
}


#network {
	margin: 5px 5px;
	background-color: #fabd2f;
}


#temperature {
	margin: 5px 5px;
	background-color: #Fb4934;
}


#battery {
	margin: 5px 5px;
	background-color: #b8bb26;
}


#memory {
	margin: 5px 5px;
	background-color: #fabd2f;
}


#backlight {
	margin: 5px 5px;
	background-color: #8ec07c;
}


#cpu {
	margin: 5px 5px;
	background-color: #83a598;
}


#clock {
	margin: 5px 5px;
	background-color: #ebdbb2;
}

#custom-power {
	margin: 5px 5px;
	background-color: #fb4934;
}
