* {
	border: none;
	border-radius: 4;
	font-family: 'Iosevka Nerd Font', 'Material Design Icons';
	font-size: 18px;
	min-height: 0;
}

#waybar {
	border-radius: 0;
	background-color: #242424;
	transition-duration: .5s;
}

#workspaces button {
	padding: 0px 10px;
	margin: 5px 3px;
  background-color: #E8E3E3;
	color: #242424;
}

#workspaces button:hover {
	background-color: #8AA6A2;
	color: #242424;
}

#workspaces button.focused {
	color: #242424;
	background-color: #8DA3B9;
}

#workspaces button.urgent {
	background-color: #B66467;
	color: #242424;
}

#mode, #window {
	color: #E8E3E3;
}

#tray, #mpd, #bluetooth, #pulseaudio, #cpu, #network, #memory, #backlight, #disk, #battery, #clock, #temperature, #custom-power, #taskbar, #idle_inhibitor, #firefox {
	padding: 0 12px;
	margin: 5px 3px;
	color: #242424;
}

#pulseaudio {
	background-color: #A988B0;
}


#network {
	background-color: #D9BC8C;
}


#temperature {
	background-color: #B66467;
}


#battery {
	background-color: #8C977D;
}

#memory {
	background-color: #D9BC8C;
}

#disk {
	background-color: #8AA6A2;
}
  
#backlight {
	background-color: #8AA6A2;
}


#cpu {
	background-color: #8DA3B9;
}


#clock {
	background-color: #E8E3E3;
}

#custom-power {
	background-color: #B66467;
}

#tray {
  background-color: #404040;
}

#bluetooth {
  background-color: #E8E3E3;
}

#idle_inhibitor {
  background-color: #A988B0;
}

#mpd {
  background-color: #8DA3B9;
}

