* {
	border: none;
	border-radius: 4;
	font-family: 'Iosevka Nerd Font', 'Material Design Icons';
	font-size: 18px;
	min-height: 0;
}

tooltip {
  background: #151515;
}

#waybar {
	border-radius: 0;   
	background-color: #151515;
	transition-duration: .5s;
}

#workspaces button {
	padding: 0px 10px;
	margin: 5px 3px;
  background-color: #202020;
	color: #E8E3E3;
}

#workspaces button:hover {
	box-shadow: inherit;
  text-shadow: inherit;
  background: transparent;
  border: transparent;
	color: #E8E3E3;
}

#workspaces button.focused {
	color: #E8E3E3;
	background-color: #303030;
}

#workspaces button.urgent {
	background-color: #B66467;
	color: #E8E3E3;
}

#mode {
  background-color: #202020;
  margin: 5px 3px;
  padding: 0px 10px;
}

#mode, #window {
	color: #E8E3E3;
}

#language, 
#tray, 
#mpd, 
#bluetooth, 
#pulseaudio, 
#cpu, 
#network, 
#memory, 
#backlight, 
#disk, 
#battery, 
#clock, 
#temperature, 
#idle_inhibitor {
	padding: 0 12px;
	margin: 5px 3px;
	color: #E8E3E3;
  background-color: #202020;
}

#network {
  color: #00A7EF;
}

#backlight {
  color: #FFBF00;
}

#pulseaudio {
  color: #D7DEE2;
}

#temperature {
  color: #FF8A00;
}

#disk {
  color: #FFDEA9;
}

#clock {
  color: #CFD8DD;
}

@keyframes blink {
    to {
        background-color: #DE2F2E;
    }
}

#battery {
  color: #77B323;
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
  color: #FE88AE;
}

#memory {
  color: #657780;
}

#mpd {
  color: #00AAF1;
}

#language {
  color: #657780;
}
