configuration {
  display-run: "Run: ";
  display-drun: "Search: ";
  display-window: "  ";
  drun-display-format: "{icon} {name}";
  font: "JetBrainsMono Nerd Font Medium 10";
  modi: "window,run,drun";
  show-icons: false;
}

@theme "/home/paolo/.config/rofi/themes/dmenu.rasi"
