@define-color black #000000;
@define-color red #AC4142;
@define-color green #90A959;
@define-color yellow #F4BF75;
@define-color blue #6A9FB5;
@define-color magenta #AA759F;
@define-color cyan #75B5AA;
@define-color white #D0D0D0;

* {
  border: none;
  border-radius: 4;
  font-family: 'JetBrainsMono Nerd Font', 'Material Design Icons';
  font-size: 17px;
  min-height: 0;
}

tooltip {
  background: @black;
  color: @white;
}

#waybar {
  border-radius: 0px;
  background-color: alpha(black, 0.01);
  transition-duration: .5s;
}

#workspaces button {
  padding: 0px 0px;
  margin: 5px 3px;
	color: @black;
  background-color: @white;
}

#workspaces button:hover {
  background-color: @yellow;
}

#workspaces button.focused {
  background-color: @blue;
  color: @black;
}

#workspaces button.focused:hover {
  background-color: @yellow;
}

#workspaces button.urgent {
  background-color: @red;
  color: @black;
}

#mode {
  background-color: @yellow;
  color: @black;
  margin: 5px 3px;
  padding: 0px 10px;
}

/* FIX: Tells Waybar to hide the box background, padding, and borders when the bar is empty */
#waybar.empty #window {
    background: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

#language, 
#tray, 
#bluetooth, 
#pulseaudio, 
#cpu, 
#custom-gpu,
#network, 
#memory, 
#backlight, 
#disk, 
#battery, 
#custom-uptime, 
#clock, 
#custom-powermenu, 
#window,
#custom-wofi, 
#temperature, 
#idle_inhibitor {
  padding: 0 12px;
  margin: 5px 3px;
  color: @black;
}

#clock {
  background-color: @white;
}

#custom-powermenu, #temperature {
  background-color: @red;
}

#custom-wofi, #cpu, #custom-gpu, #bluetooth {
  background-color: @blue;
}

#memory, #idle_inhibitor {
  background-color: @green;
}

#disk, #window {
  background-color: @yellow;
}

#pulseaudio {
  background-color: @magenta;
}

#network {
  background-color: @cyan;
}

#tray {
  background-color: #333333;
}
