window {
margin: 5px;
background-color: #151515;
}

#input {
margin: 5px;
background-color: #151515;
}

#inner-box {
margin: 5px;
background-color: #151515;
}

#outer-box {
margin: 5px;
background-color: #151515;
}

#scroll {
margin: 5px;
background-color: #151515;
}

#text {
margin: 5px;
background-color: #151515;
}

#text:selected {
color: #00A7EF;
background-color: rgba(0,0,0,0);
}

#entry:selected {
background-color: rgba(0,0,0,0);
}
