* {
    font-family: "Iosevka Nerd Font";
    font-size: 16px;
}

#window {
	background-color: #151515;
	color: #D0D0D0;
        border: 0px solid #151515;
	border-radius: 0px;
}

#outer-box {
	padding: 20px;
}

#input {
	background-color: #202020;
	border: 0px solid #151515;
	padding: 8px 12px;
}

#scroll {
	margin-top: 20px;
}

#inner-box {
}

#img {
	padding-right: 8px;
}

#text {
	color: #D0D0D0;
}

#text:selected {
	color: #FFFFFF;
}

#entry {
	padding: 6px;
}

#entry:selected {
	background-color: #ac4142;
	color: #151515;
}

#unselected {
}

#selected {
}

#input, #entry:selected {
	border-radius: 4px;
}
